.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #757575;
    padding-bottom : 15px
}

.logo{
    display: flex;
    align-items:center;
    gap: 15px
}

.userAction{
    display: flex;
    gap: 20px;
}

.icon{
    height: 25px;
    width : 25px;
    cursor: pointer;
}