*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

.top-container{
    width : 60%;
    margin : 30px auto;
}
.header{
    margin-bottom : 40px
}

.hero{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

.hero img{
    width : 400px;
    
}

.header-text .discount{
    background-color : #149F39;
    color: #fff;
    padding: 8px 16px;
    border: 0px solid lightgray;
    margin-bottom: 1.4rem
}

.header-text h1{
    font-size: 3.5rem;
    margin-bottom: 1.2rem
}

.header-text .promo-text{
    margin-bottom : 1.2rem
}

.btn-explore{
    background-color: #FFC066;
    padding: 0.675rem 1.4rem;
    color: #fff;
    border: 0pc solid lightgray;
    font-size: 1rem;
}

.features{
    display: flex;
    margin-top: 70px;
    gap: 20px;
}
.feature{
    display: flex;
    gap: 20px
}

.feature img{
    width: 50px
}

.main-container{
    margin-top: 5rem
}

.menu-button{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.menu-button button{
    color: #fff;
    padding: 0.8rem 1.2rem;
    background-color: #149F39;
    border: 0px solid lightgray;
    font-size: 1rem;
}

.main-container{
    width : 60%;
    margin: 0 auto;
    padding: 5rem 0;
}


.main-container h2{
    text-align: center;
    margin-bottom: 1.5rem;
   
}

.food-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px
}







.footer{
    background-color: #FFF0DB;
   
    padding: 4rem 0;
   
}

.footer-container{
    width: 60%;
    margin : 0 auto;
    display: flex;
    gap: 8rem;
}

.footer-container h4{
    margin-bottom: 2.2rem;
}
